# Dependencies
/vendor/

# IDE
/.idea/
*/.vscode/
.trae
*/.cursor


# OS
/.DS_Store
/Thumbs.db

# Build artifacts
/composer.lock
/.phpunit.result.cache
/.phpunit.cache/
/.coverage/

# Logs
/logs/

# Temporary files
*.tmp
*.temp

.DS_Store
Thumbs.db